body {
  margin: 0;
  padding: 0;
  background-color: rgb(98,98,98);
}

h1.title {
  text-align: center;
  font-size: 30px;
  margin-top: 35vh;
  color: rgba(0,0,0,0.6);
}

.form {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  width: 40vw;
  display: inline-block;
  margin: auto;
  padding: 20px;
}

.menu {
  position: absolute;
  left: 0;
  top: 50vh;
  transform: translateY(-50%);
  width: 15vw;
  background-color: rgb(68, 68, 68);
  border-radius: 0px 10px 10px 0px;
  color: white;
}

.menu h3 {
  text-align: center;
}

.menu div {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

.menu div:hover {
  background-color: rgb(78,78,78);
}
