body {
  margin: 0;
  padding: 0;
  background-color: rgb(28,28,28);
}

h1.title {
  text-align: center;
  font-size: 30px;
  margin-top: 35vh;
  color: rgba(0,0,0,0.6);
}

.menu {
  position: absolute;
  left: 0;
  top: 50vh;
  transform: translateY(-50%);
  width: 15vw;
  height: 100vh;
  background-color: rgb(68, 68, 68);
  color: white;
}

.menu h3 {
  text-align: center;
}

.menu div {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

.menu div:hover {
  background-color: rgb(78,78,78);
}

.xcenter {
  transform: translateX(-50%) translateY(-50%);
  left: 60vw;
  position: absolute;
  top: 50vh;
}

.homescreen {
  width: 70vw;
  height: 60vh;
  padding: 20px;
  color: white;
}

.modal {
  position: fixed;
  display: block;
  width: 30vw;
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  padding: 20px;
  top: 45vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}

.modal h3 {
  text-align: center;
}

.modal input[type=text], .modal input[type=mail], .modal input[type=number] {
  padding: 10px;
  border: none;
  display: block;
  background-color: rgba(0,0,0,0.1);
  width: 25vw;
  margin: auto;
  margin-bottom: 20px;
  font-size: 25px;
}

.modal button {
  font-size: 25px;
  padding: 10px;
  color: white;
  border: none;
  background-color: rgba(39, 174, 96,1.0);
  width: 25vw;
  display: block;
  margin: auto;
}

.background-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}